In [1]:
#importing libraries
import pandas as pd
import numpy as np
import tensorflow as tf
import pickle
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
import pickle
import json
from Utils.evaluation import EvaluationMetrics
from Utils.helper import *
from Utils.sample_squads import *

## Innings 1

In [2]:
model_inn1 = tf.keras.models.load_model('Models\Inn1-HeavyDense-ep20to50\cp-0029.h5')
model_inn2 = tf.keras.models.load_model('Models\Inn2-HeavyDenseRequired-ep30to50\cp-0016.h5')

In [3]:
evaluator = EvaluationMetrics(model_inn1, model_inn2,
                              )
                            #   "Evaluation/tournament1.pkl")

In [11]:
for _ in range(1):
    print(f"\n\nMatch number: {evaluator.match_count+1}")
    evaluator.simulate_match(1)
evaluator.display_table()
evaluator.save_object("Evaluation/tournament1.pkl")

Match number: 56
Kings XI Punjab  :  156 / 8  in  20 . 0
Extras: 7

           Batsman Runs Fours Sixes Balls Faced Dismissal Type    Dismissed By
0         KL Rahul   23     3     1          15        Run Out               -
1         CH Gayle    4     1     0           6        Run Out               -
2       MA Agarwal    0     0     0           4        Stumped  Mohammed Siraj
3        DA Miller   16     1     0          20        Run Out               -
4         N Pooran   14     2     0          12         Caught         N Saini
5    Mandeep Singh    5     1     0           3         Caught       YS Chahal
6         R Ashwin   14     2     0          16         Caught  Mohammed Siraj
7        H Viljoen   23     2     1          13         Caught        UT Yadav
8         M Ashwin   29     5     0          22        Not Out               -
9   Mohammed Shami   20     2     1          10        Not Out               -
10      AS Rajpoot    -     -     -           -              -               -

Royal Challengers Bangalore  :  151 / 8  in  20 . 0
Extras: 6

,Batsman,Runs,Fours,Sixes,Balls Faced,Dismissal Type,Dismissed By
0,PA Patel,4,0,0,14,Caught,Mohammed Shami
1,V Kohli,29,5,0,22,Caught,R Ashwin
2,AB de Villiers,15,2,1,7,Caught,H Viljoen
3,M Ali,12,1,0,11,Bowled,H Viljoen
4,S Hetmyer,0,0,0,7,Bowled,R Ashwin
5,S Dube,1,0,0,3,Caught,M Ashwin
6,C de Grandhomme,34,3,1,27,Caught,AS Rajpoot
7,N Saini,37,3,2,22,Not Out,-
8,YS Chahal,9,0,1,7,Run Out,-
9,UT Yadav,4,1,0,2,Not Out,-
10,Mohammed Siraj,-,-,-,-,-,-

Kings XI Punjab won by 5 Runs

                             Played  Wins  Losses  Points       NRR
Delhi Capitals                   14    10       4      20  0.381699
Kings XI Punjab                  14     9       4      19  0.427534
Kolkata Knight Riders            14     9       5      18  0.376469
Chennai Super Kings              14     7       7      14 -0.017489
Royal Challengers Bangalore      14     6       8      12 -0.187438
Mumbai Indians                   14     5       8      11 -0.099685
Rajasthan Royals                 14     5       9      10 -0.221348
Sunrisers Hyderabad              14     4      10       8 -0.665983

In [12]:
batsmen_result_dic = {}
bat_stat = evaluator.batsmen_stat
for batsman in bat_stat:
    tot_runs = 0
    tot_balls = 0
    num_4 = 0
    num_6 = 0
    num_inn = 0
    num_out = 0
    hs = 0
    dismissal_type = []
    dismissed_by = []
    for i in bat_stat[batsman]:
        num_inn += 1
        tot_runs += i["Runs"]
        if i["Runs"] > hs:
            hs = i["Runs"]
        tot_balls += i["Balls Faced"]
        num_4 += i["Fours"]
        num_6 += i["Sixes"]
        if i["Dismissal Type"] != "Not Out":
            num_out += 1
        dismissal_type.append(i["Dismissal Type"])
        dismissed_by.append(i["Dismissed By"])
    batsmen_result_dic[batsman] = {
        "Innings": num_inn,
        "Runs": tot_runs,
        "Balls": tot_balls,
        "Fours": num_4,
        "Sixes": num_6,
        "High Score": hs,
        "Average": tot_runs/num_out if num_out!=0 else tot_runs,
        "Strike Rate": tot_runs/tot_balls*100 if tot_balls!=0 else 0,
        "Boundry Percent": (6*num_6+4*num_4)/tot_runs*100 if tot_runs!=0 else 0,
        }

In [13]:
batsmen_stat_df = pd.DataFrame.from_dict(batsmen_result_dic, orient='index')
save_df = batsmen_stat_df.sort_values(by=["Runs", "Balls"], ascending=False)
# save_df.to_csv("Evaluation/Evaluate_Batsmen.csv")
save_df.head(20)

,Innings,Runs,Balls,Fours,Sixes,High Score,Average,Strike Rate,Boundry Percent
J Bairstow,14,626,417,69,25,127,52.166667,150.119904,68.051118
Q de Kock,14,558,410,65,20,113,42.923077,136.097561,68.100358
DA Warner,14,558,397,63,20,80,39.857143,140.554156,66.666667
V Kohli,14,515,358,69,13,106,42.916667,143.854749,68.737864
F du Plessis,14,473,355,55,13,69,36.384615,133.239437,63.002114
AM Rahane,14,462,377,60,12,86,35.538462,122.546419,67.532468
RV Uthappa,14,452,295,39,20,106,37.666667,153.220339,61.061947
JC Buttler,14,448,369,41,19,85,37.333333,121.409214,62.053571
RG Sharma,14,445,347,43,19,110,34.230769,128.242075,64.269663
P Shaw,14,437,381,54,7,76,36.416667,114.698163,59.038902
KL Rahul,14,420,332,42,17,65,30.000000,126.506024,64.285714
CA Lynn,14,410,320,43,15,90,31.538462,128.125000,63.902439
SR Watson,14,388,350,32,14,93,35.272727,110.857143,54.639175
AT Rayudu,14,385,252,33,17,69,35.000000,152.777778,60.779221
S Dhawan,14,381,284,53,8,92,31.750000,134.154930,68.241470
SS Iyer,13,346,257,47,9,77,28.833333,134.630350,69.942197
CH Gayle,14,341,230,38,16,113,26.230769,148.260870,72.727273
S Gill,14,337,287,35,10,57,24.071429,117.421603,59.347181
AD Russell,14,334,216,33,13,69,37.111111,154.629630,62.874251
AB de Villiers,13,308,217,38,9,91,25.666667,141.935484,66.883117

In [86]:
bowler_result_dic = {}
bowler_stat = evaluator.bowler_stat
for bowler in bowler_stat:
    tot_runs = 0
    tot_balls = 0
    tot_wickets = 0
    for i in bowler_stat[bowler]:
        tot_runs += i["Runs Conceded"]
        tot_balls += i["Balls"]
        tot_wickets += i["Wickets Taken"]
    bowler_result_dic[bowler] = {
        "Runs Conceded": tot_runs,
        "Overs": f"{tot_balls//6}.{tot_balls%6}",
        "Wickets": tot_wickets,
        "Economy": tot_runs/tot_balls*6 if tot_balls != 0 else 0,
        }

In [87]:
bowler_stat_df = pd.DataFrame.from_dict(bowler_result_dic, orient='index')
save_df = bowler_stat_df.sort_values(by=["Wickets", "Economy"], ascending=[False, True])
# save_df.to_csv("Evaluation/Evaluate_Bowler.csv")
save_df.head(20)

                Runs Conceded Overs  Wickets    Economy
K Rabada                  313  44.0       24   7.113636
DS Kulkarni               400  55.2       20   7.228916
DL Chahar                 355  48.0       17   7.395833
SL Malinga                385  49.3       17   7.777778
N Saini                   427  48.0       17   8.895833
B Kumar                   334  49.4       16   6.724832
RD Chahar                 402  55.0       16   7.309091
RA Jadeja                 393  48.0       16   8.187500
S Kaul                    437  50.5       16   8.596721
S Gopal                   401  56.0       15   7.160714
DJ Bravo                  375  47.1       15   7.950530
JJ Bumrah                 435  51.4       15   8.419355
R Ashwin                  417  48.0       15   8.687500
H Viljoen                 399  45.2       15   8.801471
M Ashwin                  510  48.0       15  10.625000
Sandeep Sharma            358  47.0       14   7.617021
A Mishra                  360  47.0       14   7.659574
J Behrendorff             416  54.0       14   7.703704
Imran Tahir               409  48.0       14   8.520833
KH Pandya                 501  56.0       14   8.946429