In [1]:
#importing libraries
import pandas as pd
import numpy as np
import tensorflow as tf
import random
import functools
import math
import livelossplot
import pickle
from Utils.helper import *
from Utils.sample_squads import *

In [2]:
# batting_first = pd.read_csv("Data/Batting_First.csv")
# rcb_batting = batting_first[batting_first["Bowling_Team"] == "Royal Challengers Bangalore"]
# set(rcb_batting["Bowler"])

In [3]:
model_inn_1 = tf.keras.models.load_model('Models/Inn1_SimpleRNN_10.h5')
# model_inn_2 = tf.keras.models.load_model('Models/Inn2_SimpleRNN_10.h5')

In [6]:
inn1_df = pd.DataFrame(columns=BF_Cols)
inn1 = Innings(RCB_Squad[0], CSK_Squad[1], CSK_Squad[0][0], RCB_Pitch, 1, inn1_df)
inn1.simulate_inning(model_inn_1)
display_batting_table(inn1)

Royal Challengers Bangalore  :  156 / 6  in  20 . 0
Extras: 9

           Batsman Runs Fours Sixes Balls Faced Dissmissal Type Dismissed By
0         CH Gayle    0     0     0           1             LBW    DL Chahar
1          V Kohli    0     0     0           1          Bowled    DL Chahar
2   AB de Villiers    1     0     0           3          Caught    DL Chahar
3         KL Rahul   13     2     0          16          Caught    RA Jadeja
4        SR Watson  105    16     2          70         Not Out            -
5       KD Karthik    0     0     0           4          Caught    RA Jadeja
6        CH Morris    9     2     0           4         Run Out            -
7         HV Patel   19     1     0          22         Not Out            -
8          N Saini    -     -     -           -               -            -
9        YS Chahal    -     -     -           -               -            -
10  Mohammed Siraj    -     -     -           -               -            -

,Bowler,Runs Conceded,Wickets Taken,Overs,Batsman Names
0,SN Thakur,22,0,4.0,-
1,RA Jadeja,22,2,4.0,"KL Rahul, KD Karthik"
2,DL Chahar,24,3,4.0,"CH Gayle, V Kohli, AB de Villiers"
3,DJ Bravo,48,0,4.0,-
4,Imran Tahir,37,0,4.0,-

  Dismissed Batsman Team Runs Overs
0           V Kohli         1     1
1    AB de Villiers         3     1
2          KL Rahul        36     7
3        KD Karthik        53     9
4         CH Morris        64    11

   Over       Bowler Runs Conceded Wickets Taken Total Score Total Wickets
0     1    DL Chahar             3             3           3             3
1     2    SN Thakur            11             0          14             3
2     3    DL Chahar             7             0          21             3
3     4    SN Thakur             2             0          23             3
4     5    DL Chahar            10             0          33             3
5     6    SN Thakur             3             0          36             3
6     7    RA Jadeja             1             1          37             4
7     8  Imran Tahir            16             0          53             4
8     9    RA Jadeja             1             1          54             5
9    10  Imran Tahir            10             0          64             5
10   11    RA Jadeja             7             1          71             6
11   12  Imran Tahir             6             0          77             6
12   13    RA Jadeja            13             0          90             6
13   14     DJ Bravo             6             0          96             6
14   15  Imran Tahir             5             0         101             6
15   16     DJ Bravo            12             0         113             6
16   17    SN Thakur             7             0         120             6
17   18     DJ Bravo            18             0         138             6
18   19    DL Chahar             5             0         143             6
19   20     DJ Bravo            13             0         156             6

In [5]:
inn1_df = pd.DataFrame(columns=BF_Cols)
inn1 = Innings(RCB_Squad[0], CSK_Squad[1], CSK_Squad[0][0], RCB_Pitch, 1, inn1_df)
inn1.simulate_inning(model_inn_1)
display_batting_table(inn1)

Royal Challengers Bangalore  :  178 / 10  in  19 . 2
Extras: 14

           Batsman Runs Fours Sixes Balls Faced Dissmissal Type Dismissed By
0         CH Gayle   34     5     1          27             LBW  Imran Tahir
1          V Kohli   18     1     2          11          Caught    DL Chahar
2   AB de Villiers    8     1     0           7         Run Out            -
3         KL Rahul   38     5     1          23          Bowled    RA Jadeja
4        SR Watson   18     1     0          22          Caught     DJ Bravo
5       KD Karthik    2     0     0           3          Bowled  Imran Tahir
6        CH Morris   13     1     1           8          Caught    SN Thakur
7         HV Patel    2     0     0           3          Caught    SN Thakur
8          N Saini    5     1     0           3         Not Out            -
9        YS Chahal    1     0     0           2          Caught     DJ Bravo
10  Mohammed Siraj   25     2     2          11             LBW     DJ Bravo

,Bowler,Runs Conceded,Wickets Taken,Overs,Batsman Names
0,DL Chahar,41,1,4.0,V Kohli
1,DJ Bravo,31,3,3.2,"SR Watson, YS Chahal, Mohammed Siraj"
2,RA Jadeja,53,1,4.0,KL Rahul
3,SN Thakur,20,2,4.0,"HV Patel, CH Morris"
4,Imran Tahir,30,2,4.0,"CH Gayle, KD Karthik"

  Dismissed Batsman Team Runs Overs
1           V Kohli        25     3
2    AB de Villiers        48     7
0          CH Gayle        66     8
3          KL Rahul       118    13
5        KD Karthik       127    15
4         SR Watson       143    16
7          HV Patel       146    17
6         CH Morris       147    17
8         YS Chahal       148    18
9    Mohammed Siraj       178    20

   Over       Bowler Runs Conceded Wickets Taken Total Score Total Wickets
0     1    DL Chahar             5             0           5             0
1     2    SN Thakur            12             0          17             0
2     3    DL Chahar             8             1          25             1
3     4    SN Thakur             2             0          27             1
4     5    DL Chahar            13             0          40             1
5     6    SN Thakur             3             0          43             1
6     7    RA Jadeja            16             1          59             2
7     8  Imran Tahir             7             1          66             3
8     9    RA Jadeja            15             0          81             3
9    10  Imran Tahir             8             0          89             3
10   11    RA Jadeja            11             0         100             3
11   12  Imran Tahir             7             0         107             3
12   13    RA Jadeja            11             1         118             4
13   14     DJ Bravo             9             0         127             4
14   15  Imran Tahir             9             1         136             5
15   16     DJ Bravo             8             1         144             6
16   17    SN Thakur             4             2         148             8
17   18     DJ Bravo            13             1         161             9
18   19    DL Chahar            15             0         176             9

In [4]:
print("Simulating First Match")
match_sim2 = Match(CSK_Squad, MI_Squad, MI_Pitch, model_inn_1, model_inn_2, Display=1)

Simulating First Match
Chennai Super Kings won the toss and chose to Bowl first
Mumbai Indians  :  247 / 10  in  18 . 0
Extras: 11

            Batsman Runs Fours Sixes Balls Faced Dissmissal Type Dismissed By
0          PA Patel    5     1     0           4          Caught    DL Chahar
1        JC Buttler   28     1     3          14          Caught     DJ Bravo
2         RG Sharma   19     2     1          10         Run Out            -
3         HH Pandya    8     0     1           4          Caught    DL Chahar
4        KA Pollard    8     0     1           5          Caught    SN Thakur
5         KH Pandya    2     0     0           2          Caught    SN Thakur
6   Harbhajan Singh   14     3     0           7          Caught    KV Sharma
7    MJ McClenaghan   19     0     3           7          Caught     DJ Bravo
8        TG Southee   81     3     9          28         Not Out            -
9         JJ Bumrah    9     2     0           4          Bowled    DL Chahar
10       SL Malinga   43     4     2          23          Caught    KV Sharma

      Bowler Runs Conceded Wickets Taken Overs                   Batsman Names
0  DL Chahar            44             3   4.0  PA Patel, HH Pandya, JJ Bumrah
1  SN Thakur            60             2   4.0           KA Pollard, KH Pandya
2  KV Sharma            56             2   4.0     Harbhajan Singh, SL Malinga
3  RA Jadeja            36             0   3.0                               -
4   DJ Bravo            47             2   3.0      JC Buttler, MJ McClenaghan

  Dismissed Batsman Team Runs Overs
0          PA Patel         6     1
1        JC Buttler        49     5
2         RG Sharma        53     5
3         HH Pandya        69     6
4        KA Pollard        70     7
5         KH Pandya        72     7
6   Harbhajan Singh        87     8
7    MJ McClenaghan       119    10
8         JJ Bumrah       141    11
9        SL Malinga       247    18

   Over     Bowler Runs Conceded Wickets Taken Total Score Total Wickets
0     1  DL Chahar             6             1           6             1
1     2  SN Thakur             9             0          15             1
2     3  KV Sharma            13             0          28             1
3     4  RA Jadeja            15             0          43             1
4     5   DJ Bravo            12             2          55             3
5     6  DL Chahar            15             1          70             4
6     7  SN Thakur            11             2          81             6
7     8  KV Sharma            12             1          93             7
8     9  RA Jadeja            14             0         107             7
9    10   DJ Bravo            24             1         131             8
10   11  DL Chahar            11             1         142             9
11   12  SN Thakur            23             0         165             9
12   13  KV Sharma            12             0         177             9
13   14  RA Jadeja             9             0         186             9
14   15   DJ Bravo            11             0         197             9
15   16  DL Chahar            13             0         210             9
16   17  SN Thakur            17             0         227             9
17   18  KV Sharma            20             1         247            10

Chennai Super Kings  :  163 / 8  in  20 . 0
Extras: 5

         Batsman Runs Fours Sixes Balls Faced Dissmissal Type     Dismissed By
0   F du Plessis   13     1     0          13          Caught  Harbhajan Singh
1     RV Uthappa   22     1     0          23             LBW       TG Southee
2       SK Raina   11     2     0           8          Caught        JJ Bumrah
3      AT Rayudu    6     1     0           6          Caught        JJ Bumrah
4      KM Jadhav   51     3     2          39         Not Out                -
5       MS Dhoni    1     0     0           2          Caught       SL Malinga
6      RA Jadeja   17     2     1           6         Run Out                -
7       DJ Bravo   11     1     0           8          Bowled       SL Malinga
8      KV Sharma   16     2     0          11          Caught   MJ McClenaghan
9      DL Chahar   10     2     0           5         Not Out                -
10     SN Thakur    -     -     -           -               -                -

            Bowler Runs Conceded Wickets Taken Overs        Batsman Names
0       TG Southee            24             1   4.0           RV Uthappa
1  Harbhajan Singh            32             1   4.0         F du Plessis
2   MJ McClenaghan            32             1   4.0            KV Sharma
3        JJ Bumrah            35             2   4.0  SK Raina, AT Rayudu
4       SL Malinga            37             2   4.0   MS Dhoni, DJ Bravo

  Dismissed Batsman Team Runs Overs
1        RV Uthappa        36     6
0      F du Plessis        38     7
2          SK Raina        55     9
3         AT Rayudu        56     9
4          MS Dhoni        65    10
5         RA Jadeja        87    13
6          DJ Bravo       109    15
7         KV Sharma       136    18

   Over           Bowler Runs Conceded Wickets Taken Total Score Total Wickets
0     1       TG Southee             8             0           8             0
1     2  Harbhajan Singh             5             0          13             0
2     3   MJ McClenaghan             7             0          20             0
3     4        JJ Bumrah             7             0          27             0
4     5       SL Malinga             8             0          35             0
5     6       TG Southee             3             1          38             1
6     7  Harbhajan Singh             4             1          42             2
7     8   MJ McClenaghan            13             0          55             2
8     9        JJ Bumrah             5             2          60             4
9    10       SL Malinga             5             1          65             5
10   11       TG Southee             8             0          73             5
11   12  Harbhajan Singh            14             0          87             5
12   13   MJ McClenaghan             6             1          93             6
13   14        JJ Bumrah            16             0         109             6
14   15       SL Malinga             8             1         117             7
15   16       TG Southee             6             0         123             7
16   17  Harbhajan Singh            10             0         133             7
17   18   MJ McClenaghan             7             1         140             8
18   19        JJ Bumrah             7             0         147             8
19   20       SL Malinga            16             0         163             8

Mumbai Indians won by 84 Runs